.App-header {
  background-color: rgb(70, 181, 255);
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color: rgb(70, 181,255);
  padding: 5px 10px;
}

.login {
  margin: 20px 20px 20px 20px; 
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 360px;

  .validation-error {
    flex-grow: 2;
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    background-color: #ff1c1cb4;
  }

  .validation-message {
    flex-grow: 2;
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    background-color: #34df00;
  }

  .label { 
    width: 90px; 
    display: inline-block;
    text-align: right;
    padding-right: 5px;
  }

  LABEL { 
    display: block;
    padding: 5px 0;
  }

  .submit-element INPUT {
    background-color: rgb(100,210,255);
    height: 48px;
    width: 80px;
    margin-left: 10px;
    border-radius: 3px;
  }

  .submit-element {
    position: relative;
    overflow: hidden;
  }

  .is-loading:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 34px;
    background: url(../images/loader.png) no-repeat;
    background-size: 30px 30px;
    animation: rotating 4s infinite linear;
  }
}

@keyframes rotating {
  0% { 
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}