.image-detail-container { 
    padding: 20px;
    display: flex;
}

.img-det-list { 
    padding-left: 10px;
}

.image-detail-container LABEL { 
    font-weight: bold;
}

.image-detail-container IMG { 
    width: 100%;
    max-width: 100vh;
    max-height: 80vh;
}

.is-jackson BUTTON { 
    margin: 10px;
    background-color: #64d2ff;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
}

.navigation { 
    display: flex;
    justify-content: center;
}

.navigation BUTTON {
    margin: 0 10px 10px 10px;
    background-color: #64d2ff;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
}