.snapshot {
    border: 2px solid rgba(70, 181, 255, 0.2);
    width: 100%;
    max-width: 320px;
    padding: 10px;
    margin: 20px;
    position: relative;
}

@media only screen and (max-width: 500px) {
    .snapshot {
        margin: 3px 2px;
    }
}

.snapshot IMG { 
    width: 100%;
    min-width: 270px;
}

.temp {
    position: absolute;
    bottom: 18px;
    right: 18px;
    color: white;
    -webkit-text-stroke: 1px #46b5ff;
    font-weight: bold;
    font-size: 28px;
}

.humidity { 
    position: absolute;
    left: 18px;
    bottom: 18px;
    color: white;
}

.time { 
    position: absolute;
    left: 18px;
    top: 18px;
    color: white;
    -webkit-text-stroke: 1px #46b5ff;
    font-weight: bold;
    font-size: 30px;
}